{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="col-xs-10">
            <div class="jumbotron" style="background-color: #f9f9f9;">
                <div style="text-align: center; vertical-align: middle">
                    Bedankt om deel te nemen!
                    <br>
                    Indien je nog vragen hebt over deze study, aarzel niet om ons te
                    contacteren via: <a href="mailto:jonvdrdo.VanDerDonckt@UGent.be">jonvdrdo.VanDerDonckt@UGent.be</a>

                    {% if prolific_code %}
                        <br><br>
                        De prolific code voor het vervolledigen van deze study is:
                        <div style="text-align: center">{{ prolific_code }}</div>
                    {% endif %}

                    <br><br>
                    U mag de webpagina afsluiten
                </div>
            </div>
        </div>
    </div>
{% endblock %}