{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="col-xs-10">
            <div class="jumbotron" style="background-color: #f9f9f9;">
                <div style="text-align: center; vertical-align: middle">
                    Goed bezig!! Neem een slok water en strek je eens!
                    <br>
                    <form action="" method="post" style="text-align: center;">
                        <button id="btn_next" class="btn btn-info" value="next">Ga
                            door
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}