{% extends 'layout.html' %}

{% block link %}
    <script src="{{ url_for('static', filename='_js/recorderWorker.js') }}"></script>
    <script src="{{ url_for('static', filename='_js/recorder.js') }}"></script>
    <script src="{{ url_for('static', filename='_js/audiodisplay.js') }}"></script>
    <script src="{{ url_for('static', filename='_js/main.js') }}"></script>
{% endblock %}

{% block body %}
    {% from 'includes/_formhelpers.html' import render_field %}
    <div class="container">
        <div class="col-xs-10">
            <div class="jumbotron" style="background-color: #f9f9f9;">
                <div id="voorbeeld">
                    <h1 style="text-align: center;">Taak instructie</h1>
                    <br>
                    <h3>Afbeeldingen luidop omschrijven</h3>
                    <div style="text-align: justify">
                        <p>
                            Tijdens deze taak zal u zo'n 30 afbeeldingen bespreken. U
                            ziet op de pagina een groene
                            <i> "Start-knop" </i> en een rode <i> "Stop-knop" </i>.
                        </p>
                        <p>
                            De afbeelding zal op het scherm verschijnen eens u op start
                            drukt. Dit zal er tevens ook
                            voor zorgen dat de audio opname begint. Nadat u op deze
                            groene knop heeft gedrukt, begint u te
                            omschrijven wat u ziet.
                        </p>
                        <p>
                            Maak u niet te veel druk als u vast loopt, probeer het
                            natuurlijk te doen alsof u de afbeelding
                            omschrijft aan iemand die de afbeelding niet kan zien. Ter
                            indicatie kunt u erop richten om
                            minimaal 30 seconden per afbeelding te omschrijven.
                        </p>
                        <p>
                            Als u klaar bent met uw omschrijving drukt u op <b>
                            Stop </b> en gaat u door naar het volgende
                            scherm.
                        </p>
                    </div>

                    <br>

                    <h3>Gemoedstoestand ingeven via sliders</h3>
                    <div style="text-align: justify">
                        <p>
                            Nadat u de opname gestopt heeft, dient u zo snel mogelijk te
                            antwoorden wat u bij de afbeelding
                            voelt, geef dus aan wat het eerst in u opkomt.
                        </p>
                        <p>
                            Bij elke afbeelding dient u op twee schalen te antwoorden:
                            <i>opwinding/activiteit </i> en
                            <i>valentie/aangenaamheid</i>, zoals hieronder weergegeven.
                            Deze zullen nu eerst beter uitgelegd worden!
                        </p>
                        <div style="text-align: center">
                            <img src="{{ url_for('static', filename='img/valence_arousal.png') }}"
                                 alt=""
                                 style="width: 75%">
                        </div>
                    </div>

                    <div style="text-align: justify; margin-left: 2%">
                        <h5>Valentie / aangenaamheid</h5>
                        <p>
                            Valentie / aangenaamheid is een maatstaaf voor waarde.

                            Een afbeelding is POSITIEF als het als goed wordt beschouwd,
                            terwijl de afbeelding NEGATIEF is
                            als
                            het als slecht wordt beschouwd. Geef de valentie van elke
                            afbeelding aan op een <i>sliding
                            scale</i>
                            van ZEER NEGATIEF tot ZEER POSITIEF, waarbij het middelpunt
                            NEUTRAAL vertegenwoordigt.
                            <br>
                            Voorbeelden:
                        </p>
                        <ul>
                            <li>
                                Als u bijvoorbeeld het gevoel hebt dat "atoombom" een
                                zeer negatieve betekenis heeft, dan
                                antwoordt u ver links op de schaal.
                            </li>
                            <li>
                                Als u bijvoorbeeld het gevoel hebt dat "fantastisch" een
                                zeer positieve betekenis heeft, dan
                                antwoordt u ver rechts op de schaal.
                            </li>
                            <li>
                                Als u het gevoel heeft dat "spruitjes" vrij onaangenaam
                                is voor u, dan antwoordt u een
                                beetje
                                links op de schaal.
                            </li>
                            <li>
                                Als u het gevoel heeft dat "ontspannen" een vrij
                                positieve betekenis voor u heeft, dan
                                antwoordt u een beetje rechts op de schaal
                            </li>
                        </ul>
                    </div>
                    <br>

                    <div style="text-align: justify; margin-left: 2%">
                        <h5>Opwinding / activiteit</h5>

                        <p>
                            Activiteit / opwinding is een maatstaaf voor opwinding
                            versus kalmte.
                            Een afbeelding is ACTIEF als u zich hierdoor gestimuleerd,
                            opgewonden, zenuwachtig of
                            klaarwakker
                            voelt. Een afbeelding is PASSIEF als u zich er ontspannen,
                            kalm, traag, saai of slaperig van
                            voelt.
                            Geef aan hoe opwindend u elke afbeelding vindt op een <i>sliding
                            scale</i> van ZEER PASSIEF tot
                            ZEER
                            ACTIEF, waarbij het middelpunt een matige opwinding
                            vertegenwoordigt.
                            <br>
                            Voorbeelden:
                        </p>
                        <ul>
                            <li>
                                Als u bijvoorbeeld vindt dat "hangmat" een vrij passieve
                                betekenis heeft, dan antwoordt u
                                vrij
                                ver links op de sliding scale.
                            </li>
                            <li>
                                Als u vindt dat "werken" een vrij actieve betekenis
                                heeft, dan antwoordt u vrij ver rechts
                                op de
                                sliding scale.
                            </li>
                            <li>
                                Als u vindt dat "mediteren" een zeer kalme betekenis
                                heeft, dan antwoordt u ver links op de
                                sliding scale
                            </li>
                            <li>
                                Als u vindt dat "explosief" een zeer opwindende
                                betekenis heeft, dan antwoordt u ver
                                rechts op de schaal.
                            </li>
                        </ul>
                    </div>
                    <p>
                        Er zullen afbeeldingen uit twee verschillende sets worden
                        aangeboden, ofwel gezichten, ofwel
                        tekeningen van bepaalde settings. Hieronder vindt u twee video's
                        (1 voor elk van de twee sets) met
                        hoe een trial eruit ziet: Start -> afbeelding omschrijven ->
                        Stop -> Beoordelen.
                        <br><br>
                        In deze video's ziet u een timer eronder om een indicatie te
                        krijgen van hoe lang deze omschrijving
                        is. Tijdens uw taak hebben we graag dat u minimaal zo'n 30
                        seconden omschrijft maar zult u geen
                        timer zien. Maak u niet te veel druk mocht u vastlopen.
                        <br>
                        <i>Kleine opmerking: De blauwe "Volgende" knop bij het ingeven
                            van de gemoedstoestand wordt
                            slechts zichtbaar eens het spraaksegment succesvol naar de
                            server doorgestuurd is!</i>
                    </p>
                    <div style="margin-left: 4%">
                        <h5>Gezicht</h5>
                        <div style="text-align: center; width: 50vw!important; outline: none;">
                            <video controls>
                                <source src="{{ url_for('static', filename='video/radboud.webm') }}"
                                        type="video/webm">
                            </video>
                        </div>
                        <br><br>
                        <h5>Tekening</h5>
                        <div style="text-align: center; width: 50vw!important; outline: none;">
                            <video controls>
                                <source src="{{ url_for('static', filename='video/pisces.webm') }}"
                                        type="video/webm">
                            </video>
                        </div>
                    </div>

                    <br>

                    <h3>Tekst voorlezen</h3>
                    <div style="text-align: justify">
                        <p>
                            Tussen de afbeeldingen door krijgt u soms de instructie om
                            een tekstje voor te lezen. Hiervoor
                            wordt hetzelfde principe als bij de afbeeldingen toegepast;
                            <i>groene start-knop -> tekst verschijnt -> voorlezen ->
                                rode stop-knop</i>.
                            De vooraf bepaalde tekst die u zal voorlezen, zal steeds de
                            volgende zijn; Graag vragen we u om
                            deze nu al eens hardop voor te lezen:
                        </p>
                        <div style="text-align: center;">
                            <div style="display: inline-block; text-align: left;">
                                Papa en Marloes staan op het station.<br>
                                Ze wachten op de trein.<br>
                                Eerst hebben ze een kaartje gekocht.<br>
                                Er stond een hele lange rij, dus dat duurde wel
                                even.<br>
                                Nu wachten ze tot de trein eraan komt.<br>
                                Het is al vijf over drie, dus het duurt nog vier
                                minuten.<br>
                                Er staan nog veel meer mensen te wachten.<br>
                                Marloes kijkt naar links, in de verte ziet ze de trein
                                al aankomen.<br>
                            </div>
                        </div>
                        <br>
                        <p>
                            Na het opnemen van deze tekst, zal opnieuw gevraagd worden,
                            om uw gemoedstoestand in te geven
                            via de sliders. Als extra illustratie van dit proces kan u
                            naar onderstaande video kijken.
                        </p>
                    </div>
                    <div style="margin-left: 2%">
                        <h5>Tekst voorlezen</h5>
                        <div style="text-align: center; width: 50vw!important;">
                            <video controls>
                                <source src="{{ url_for('static', filename='video/marloes.webm') }}"
                                        type="video/webm">
                            </video>
                        </div>
                    </div>
                    <br>

                    <h3>Pauzes</h3>
                    <div style="text-align: justify">
                        Ook krijgt u soms de instructie om een slok water te nemen. Doe
                        dit zeker, aangezien uw keel anders
                        uitdroogt, wat onprettig is en de opname beïnvloedt.
                        <br>
                        <hr>
                        Tot slot willen we u vragen om de audiokwaliteit van uw
                        microfoon te testen. Hiervoor drukt u op
                        start, spreekt u iets in, waarna u de opname kan beluisteren
                        door op pauze te drukken.
                        <br><br>
                        Eens dit werkt, en u op de blauwe knop heeft gedrukt, zal u
                        doorverwezen worden naar een
                        <b>blanco-pagina</b> die u voor 5 minuten te zien krijgt, het is
                        de bedoeling voor deze periode om
                        uw ogen te sluiten en op de ademhaling te focussen, zodat u
                        helemaal tot rust komt. Eens deze
                        periode
                        voorbij is zal u een toon horen.
                        <br><br>
                        <b>Succes!!</b>
                    </div>
                    <hr>
                    <br><br>
                    <div style="text-align: center;">
                        <div style="display: inline-block; text-align: left;">
                            <h5>Test uw audiokwaliteit:</h5>
                        </div>
                    </div>
                    <br>
                    <div class="container">
                        <div style="text-align: center">
                            <button id="btn_start" class="btn btn-success"
                                    onclick="wrap_start_recording()">Start
                            </button>
                            <button id="btn_stop" class="btn btn-danger"
                                    style="margin-left: 20px"
                                    onclick="stop_send_recording()" disabled>Stop
                            </button>
                            <button id="btn_play" class="btn btn-info"
                                    style="margin-left: 20px"
                                    onclick="play()" disabled>Play
                            </button>
                        </div>
                    </div>
                    <br>
                    <canvas id="analyser"
                            style="width:100%;height:150px;background-color: whitesmoke"
                            width="1024"
                            height="500"></canvas>
                    <textarea id="output" style="width: 100%;height: 100px" readonly
                              hidden></textarea>
                    <br><br>
                    <div style="text-align: center; visibility: hidden">
                        <button id="next" class="btn btn-primary">Verder naar
                            rustmoment
                        </button>
                    </div>
                </div>

                <div id="rust" style="text-align: center" hidden>
                    Sluit uw ogen en probeer te focussen op uw ademhaling<br>
                    U zal een toon horen eens dit rustblok voorbij is
                    <audio id="beep_embed"
                           src="{{ url_for('static', filename='sound/ping.wav') }}"
                           hidden>
                    </audio>
                </div>
            </div>
        </div>

    {# This shouldnt be here but it works, so let's keep it here for now #}
    <script>
        var au = undefined;

        // Override gotBuffers in main.js
        function gotBuffers(buffers) {
            audioRecorder.exportMonoWAV(createDownloadLink);
        }

        function wrap_start_recording() {
            document.getElementById('btn_start').disabled = true;
            document.getElementById('btn_stop').removeAttribute('disabled');
            startRecording();
        }

        function stop_send_recording() {
            document.getElementById('btn_stop').disabled = true;
            document.getElementById('btn_start').disabled = false;
            document.getElementById('btn_play').disabled = false;
            document.getElementById('next').style.visibility = 'visible';
            stopRecording()
        }

        function play() {
            if (au.paused) {
                au.play();
            }
        }

        function createDownloadLink(blob) {
            var url = window.URL.createObjectURL(blob);
            au = document.createElement('audio');

            //add controls to the <audio> element
            au.controls = false;
            au.autoplay = true
            au.src = url;

            //add the new audio element to li
            document.body.appendChild(au)
        }

        $('#next').click(function () {
            document.getElementById("voorbeeld").hidden = true;
            document.getElementById("rust").hidden = false;
            setTimeout(function () {
                document.getElementById('beep_embed').play();
                setTimeout(function () {
                    $('body').empty();
                    window.location.replace("/opname");
                }, 1500)
            }, {{ timeout }})
        })
    </script>
    </div>
{% endblock %}

