{% extends 'layout.html' %}

{% block link %}
<script src="{{ url_for('static', filename='_js/recorderWorker.js') }}"></script>
<script src="{{ url_for('static', filename='_js/recorder.js') }}"></script>
<script src="{{ url_for('static', filename='_js/audiodisplay.js') }}"></script>
<script src="{{ url_for('static', filename='_js/main.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="col-xs-10">
        <div class="jumbotron" style="background-color: #f9f9f9">
            <h1 style="text-align: center;">Task instruction</h1>
            <br>
            <h3>Describing images out loud</h3>
            <div style="text-align: justify">
                <p>
                    This experiment will display two images which we would 
                    like you to describe out loud. On the next screen, you will see a 
                    green <i> "Start" </i> button and a red <i> "Stop" </i> button.
                    Pressing on the start button begins the audio recording
                    and will reveal the image. After this press, you start to
                    describe the image out loud.
                </p>
                <p>
                    <!-- Don't worry when you get stuck. Aim to describe the image -->
                    <!-- spontaneously and without thinking too much about it.  -->
                    Please describe the images in detail, what you see, what you feel, 
                    whatever comes to mind. There is no right or wrong response. 
                    Target speaking for at least 30 seconds.
                    When you are finished describing the image, press the red stop button. 
                    <!-- You can for example imagine describing the image to someone who doesn't see it.  -->
                    The raw speech recordings will be saved to a secure data server
                    and you will be automatically redirected to the next image, where
                    you will again see both start and stop buttons. 
                    <!--  -->
                    After repeating this process on the next image, you will be guided
                    towards a thank you page, after which you can close this browser tab.
                </p>
            </div>

            <hr>
            <br><br>
            <div style="text-align: center;">
                <div style="display: inline-block; text-align: left;">
                    <h5>Validate your audio quality:</h5>
                </div>
            </div>
            <br>
            <div class="container">
                <div style="text-align: center">
                    <button id="btn_start" class="btn btn-success" onclick="wrap_start_recording()">Start
                    </button>
                    <button id="btn_stop" class="btn btn-danger" style="margin-left: 20px"
                        onclick="stop_send_recording()" disabled>Stop
                    </button>
                    <button id="btn_play" class="btn btn-info" style="margin-left: 20px" onclick="play()" disabled>Play
                    </button>
                </div>
            </div>
            <br>
            <canvas id="analyser" style="width:100%;height:150px;background-color: whitesmoke" width="1024"
                height="500"></canvas>
            <textarea id="output" style="width: 100%;height: 100px" readonly hidden></textarea>
            <br><br>
            <div style="text-align: center; visibility: hidden">
                <button id="next" class="btn btn-primary">
                    Continue to image description
                </button>
            </div>
        </div>
    </div>

    {# This shouldnt be here but it works, so let's keep it here for now #}
    <script>
        var au = undefined;

        // Override gotBuffers in main.js
        function gotBuffers(buffers) {
            audioRecorder.exportMonoWAV(createDownloadLink);
        }

        function wrap_start_recording() {
            document.getElementById('btn_start').disabled = true;
            document.getElementById('btn_stop').removeAttribute('disabled');
            startRecording();
        }

        function stop_send_recording() {
            document.getElementById('btn_stop').disabled = true;
            document.getElementById('btn_start').disabled = false;
            document.getElementById('btn_play').disabled = false;
            document.getElementById('next').style.visibility = 'visible';
            stopRecording()
        }

        function play() {
            if (au.paused) {
                au.play();
            }
        }

        function createDownloadLink(blob) {
            var url = window.URL.createObjectURL(blob);
            au = document.createElement('audio');

            //add controls to the <audio> element
            au.controls = false;
            au.autoplay = true
            au.src = url;

            //add the new audio element to
            document.body.appendChild(au)
        }

        $('#next').click(function () {
            window.location.replace("/recording");
        })
    </script>
</div>
{% endblock %}