{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <div class="col-xs-10">
            <div class="jumbotron" style="background-color: #f9f9f9">
                <h1 style="text-align: center;">Welkom bij dit experiment</h1>
                <br>
                <div style="text-align: justify">
                    Via deze weg willen wij (onderzoekers van <a
                        href="https://www.ugent.be/ea/idlab/en"
                        target="_blank">IDLab</a> &
                    <a href="https://www.gheplab.ugent.be/" target="_blank">Ghep Lab</a>)
                    testen hoe geschikt een nieuwe set afbeeldingen
                    is om te gebruiken binnen experimenteel onderzoek.
                    We zullen u eerst instructies geven waarna u ongeveer 30
                    verschillende afbeeldingen te zien krijgt,
                    waarbij u de taak krijgt om luidop te omschrijven wat u ziet.
                    Dit zal telkens opgenomen worden aangezien wij onderzoek doen naar
                    mensen hun spraak.
                </div>
                <br><br>
                <div style="text-align: center;">
                    <input class="btn btn-info"
                           onclick="location.href='{{ url_for('intro') }}'"
                           value="Ga van start">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
